body{
    min-width:min-content;
    display: fixed;
}
#home{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cr7vid{
    overflow: hidden;
    border-radius: 40px;
}
.slow_transition{
    transition: all 0.3s;
}